html {
	
}

body {
  /*background-color: $bg_color !important;*/
  background-image: url($bg_img_url) !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-position:50% 50% !important;
  background-size: cover !important;
  font-family: Arial-Light,sans-serif !important;
  text-shadow: 0.1em 0.1em 0.15em #fff0f5 !important;
}

.container {
  width: 60% !important;
  margin: 0px !important;
  margin-left: 20% !important;
  margin-right: 20% !important;
}

.margin-0{
  margin: 0px !important;
}

img,figure,canvas,iframe{
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
}

.opacity{
	opacity:0.9 !important;
}

.sticky-it {
    position: sticky !important;
}

.card {
    margin: 1em auto;
    padding: 30px 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #fff;
}

.big-text {
    font-size:1.5em;
}

hr {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

@media screen and (max-width: $pc_pe_dividing) {
  .container {
    width: 96% !important;
    margin: 2% !important;
  }
}