/*They are used in passage.*/

.card {
    margin: 1em auto;
    padding: 30px 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #fff;
}


.img-card {
	margin: 1em auto;
	padding: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #fff;
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
	
	.img {
        margin: 5px;
        border: 1px solid #ccc;
        display: block;
        margin: auto;
        max-height: 100%;
		max-width: 100%;
		overflow: auto;
	}

	.img:hover {
        border: 1px solid #777;
    }

	.text {
        padding: 10px;
        max-height: 100%;
		max-width: 100%;
		overflow: auto;
	}
}