<nav class="navbar navbar-default navbar-inverse navbar-fixed-top margin-0 menubar sticky-it" role="navigation"> 
    <div> 
    <a href="/" class="navbar-brand text-lt">
        <span class="glyphicon glyphicon-home"></span> <%= config.title %>
    </a>
	  </div>
	  <form class="navbar-form navbar-left menubar-search" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="输入关键词搜索…">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </div>
    </form>
</nav>