<section class="archive opacity">
    <h2 class="text-center">标签</h2>
    <ul class="post-archive">
    <% site.tags.each(function (tag) { %>
      <div class="card">
        <span><h3 class="text-center"><%= tag.name %></h3></span>
        <% tag.posts.forEach(function(post) { %>
        <li class="post-item">
            <span class="post-date"><%= date(post.date, "YYYY-MM-DD") %></span>
            <a class="post-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
        </li>
        <% }) %>
      </div>
    <% }) %>
    </ul>
</section>