<div class="toolbar toolbar-text">
  <div class="toolbar-card opacity">
	<div class="text-center"><h3>Hitokoto</h3></div>
	<p id="hitokoto" class="text-center">yz-hs说，除了她以外的人都很强！嘤嘤嘤~~</p>
	<script src="https://cdn.jsdelivr.net/npm/bluebird@3/js/browser/bluebird.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@2.0.3/fetch.min.js"></script>
	<script class="text-center">
	  fetch('https://v1.hitokoto.cn')
	    .then(function (res){
	      return res.json();
	    })
	    .then(function (data) {
	      var hitokoto = document.getElementById('hitokoto');
	      hitokoto.innerText = '⌈ ' + data.hitokoto + ' ⌋\n' +'————' + data.from ;
	    })
	    .catch(function (err) {
	      console.error(err);
	    })
	</script>
  </div>
  <div class="toolbar-card opacity">
  	<div id="displaytime">
  		<script type="text/javascript" src="/js/displaytime.js"></script>
  	</div>
  	<div class="text-center">
  		<a id="demo" onclick="displaytimeprogress();dtpthen();">时间进度条</a>
		<script>
		function displaytimeprogress()
		{
			var myDate = new Date();
			var hours=myDate.getHours();
			var minutes=myDate.getMinutes();
			minutes=hours*60+minutes;
			var pro=minutes/14.4;
			var innerhtml="<div data-toggle=\"tooltip\"  data-placement=\"bottom\" title=\"时间已过去了"+pro.toFixed(2)+"%\"><div class=\"progress\"><div class=\"progress-bar\" style=\"width: "+pro+"%;\"></div></div></div>"
			document.getElementById("demo").innerHTML = innerhtml;
		}
		function dtpthen(){$(function () { $("[data-toggle='tooltip']").tooltip(); });}
		</script>
    </div>
  </div>
  <div class="toolbar-card opacity">
  	  <button type="button" class="btn btn-primary" onclick="window.open('/atom.xml');" style="display:block;margin:0 auto">RSS地址</button>
  </div>
</div>