.menubar {
	
}

.menubar-search {
	
}

.menubar-button {
	display: none !important;
}

@media screen and (max-width: 1000px) {
    .menubar-search {
        display: none;
    }
    .menubar-button {
	    display: block !important;
    }
}