.toolbar{
    float: right;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 15%;
    padding: 0;
    margin: 1em;
}

.toolbar-text{
    color: #777;
}

.toolbar-card {
    margin-bottom: 1em;
    padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #fff;
}

#displaytime {
	width: 100%;
}

@media screen and (max-width: 1000px) {
    .toolbar {
        display: none;
    }
}