//Responsive

$pc_pe_dividing                    = unit(hexo-config('responsive.dividing'),px);

//Background

//$bg_color                          = hexo-config('background.color');
$bg_img_url                        = hexo-config('background.img-url');